/*        All common blocks      */ 
body{
        font: 100%/1.5 Verdana, Arial, Helvetica, "Luxi Sans", sans-serif;
        background-color: antiquewhite;

        padding: 50px 0px 0px 0px;
        z-index: 0;
    }
        
img{  width: 100%;  height: 100%;  }

/*Media Query for Floating Images*/
@media screen and (max-width:30em)
{
    img{float:none;}
}

/* All IDs */
#navbar{
    background-color: blueviolet;   /*black background colour*/
    color: #f2f2f2;
    position: fixed; /*make sure it remains fixed */
    top: 0;/* stay on top */
    width: 100%; /*Full width */
    display: block;
    transition: top 0.9s; /* Transition effect when sliding down */
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 15px;
    text-decoration: none;
    /* font-size: 17px; */
  }
  
#navbar a:hover {
    background-color: rgb(255, 255, 255, 0.3);
    color: #f2f2f2;
}

.footer{
    background-color: black;
    color: #f2f2f2;
   
    /* width: 100%;
    display: block;
    /* margin: 0px auto; */
    padding: 5em 0em 0em 0em;
    text-align: center;
}

#footer_inner{
    /* margin: 0em 5em; */
    /* padding: 0px 32px; */
}

#site_info{
    /* text-align: center; */
}

#footer_contact{
    margin-top: .5em;
}
#footer_contact a{
    color:inherit;
    
}

#footer_copyright{
    margin-top: 5em;
}
