.sp_pBh-sNK8Lgy{background-image:url(/rsrc.php/v3/yZ/r/MCvRfzQ8fO4.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:96px;width:192px}.sp_pBh-sNK8Lgy.sx_737ad9{background-position:0 0}

#bootloader_i959b{height:42px;}.bootloader_i959b{display:block!important;}